[submodule "azure-iot-sdk-c"]
	path = azure-iot-sdk-c
	url = https://github.com/Azure/azure-iot-sdk-c.git
[submodule "azure-c-shared-utility"]
	path = azure-iot-sdk-c/c-utility
	url = https://github.com/Azure/azure-c-shared-utility.git
[submodule "azure-umqtt-c"]
	path = azure-iot-sdk-c/umqtt
	url = https://github.com/Azure/azure-umqtt-c.git
[submodule "azure-uamqp-c"]
	path = azure-iot-sdk-c/uamqp
	url = https://github.com/Azure/azure-uamqp-c.git
[submodule "parson"]
	path = azure-iot-sdk-c/parson
	url = https://github.com/kgabis/parson
[submodule "iothub_service_client/parson"]
	path = azure-iot-sdk-c/iothub_service_client/parson
	url = https://github.com/kgabis/parson